html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Stalinist One", sans-serif;
  font-size: 1.5rem;
  text-transform: lowercase;
}

html {
  background: #fcdf9b;
}

html.soviet {
  border: 10px solid #fd4f08;
  padding: 10px;

  body {
    border: 7px solid #020202;
  }
}

main {
  display: none;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  margin-top: 10vh;
  text-align: center;
}

main h1 {
  transform: scaleY(1.1);
  font-size: 2.5em;
  text-align: center;
  margin-bottom: 1em;
}

main ul {
  max-width: fit-content;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

main ul,
main p,
main button,
main label {
  transform: scaleY(1.25);
}

a {
  color: currentColor;
  font-size: 1.2em;
  text-decoration: none;
}

a:hover {
  color: #fd4f08;
}

a:hover::before {
  content: ":) ";
  margin-left: -1.22em;
}

label {
  display: block;
  font-size: 0.8em;
  position: relative;
  width: min-content;
  margin: 2em auto;
  margin-bottom: 0;
}

label span {
  position: absolute;
  right: 0.5em;
  top: 0.7em;
}

small {
  display: block;
  margin-top: 0.75em;
  margin-bottom: 2em;
}

input {
  font: inherit;
  padding: 0.5em 0.5em;
  border: 5px solid #020202;
}

input:focus {
  outline: none;
  border-color: #fd4f08;
}

button {
  background: #020202;
  border: none;
  color: white;
  font: inherit;
  padding: 0.5em 2.5em;
  cursor: pointer;
}

button:hover {
  background: #fd4f08;
}

button:disabled {
  background: #505050;
  cursor: not-allowed;
}

hgroup h1,
hgroup h2,
hgroup p {
  margin: 0;
}

progress.health {
  display: none;
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  width: 25vw;
  height: 1em;

  &::-webkit-progress-bar {
    background-color: #eee;
    border: 5px solid #020202;
  }

  &::-webkit-progress-value {
    background: #fd4f08;
  }

  &::-moz-progress-bar {
    background: #fd4f08;
  }
}

canvas {
  width: 100% !important;
  height: 100% !important;
  image-rendering: pixelated;
}

.chat {
  display: none;
  position: absolute;
  top: 2em;
  left: 0.5em;
  width: 100%;
  height: 25vh;
  color: white;
  padding: 1px;
}

.chat > span {
  font-size: 0.6rem;
  display: block;
}

.timer {
  display: none;
  color: white;
  width: 100%;
  font-size: 2em;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
}

.name {
  text-transform: none;
}
